GitPython<=3.1.31
GitPython<=3.1.32
matplotlib<=3.7.1
mols2grid<=2.0.0
numpy
opencv_python<=4.7.0.72
pandas<=1.5.3
pandas<=2.0.1
Pillow<=9.4.0
Pillow<=9.5.0
Pillow<=10.0.0
plotly<=5.14.1
rdkit<=2023.3.1
scikit_learn<=1.2.2
streamlit<=1.22.0
tensorflow
openpyxl

